<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <link href="/css/main.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet" type="text/css">
    </head>
    <body>
        <h1 class="centered-inline">mby.io</h1>
        <nav>
          <ul class="horizontal-list centered-inline">
            <li>About</li>
            <li>Blog</li>
            <li>Projects</li>
            <li>Resume</li>
            <li>Github</li>
          </ul>
        </nav>
        {% block body %}
        {% endblock body %}
    </body>
</html>
