{% extends "templates/base.jinja" %}

{% block body %}
<h1>mby.io - Blog - Index</h1>

<ul>
{% for post in blog_posts %}
<li><a href="{{ post.abs_href }}">{{ post.title }}</a></li>
{% endfor %}
</ul>
{% endblock body %}
