{% extends "templates/base.jinja" %}

{% block body %}
<h1>About Me</h1>

<h2>Quick Hits</h2>

<p>
    My name is Michael Younkin. I'm a...
</p>

<ul>
    <li>Software Engineer</li>
    <li>Coffee Drinker</li>
    <li>Bassoon Player</li>
    <li>and many other things.</li>
</ul>

<h2>Get Things Done Challenge</h2>

<p>
    On March 6, 2016, I started my Get Things Done Challenge.
    I've often looked at my Github contributions graph and felt bad about the huge number of empty blocks because it looks like I only rarely actually write code.
    I also noticed that I had many great ideas for projects to work on, but I never ended up making any progress.
    So, I now require myself to make publishable progress on my projects every day.
</p>

<p>
    You can see my progress on my Github page (Github generates a nice graph and fills in the days I get work done with green).
</p>

<h2>Job Search</h2>

<p>
    I'm currently looking for my first real full time job.
    If you think you might be interested, please take a look at my resume.
    Thanks!
</p>

{% endblock body %}
