{% extends "templates/base.jinja" %}

{% block body %}
    <section class="grid">
        <article class="index code-text">
            <h1>git log</h1>
            <ul>
                <li>Setup Packet and generic socket in separate files</li>
            </ul>
        </article>
        <article class="index">
            <h1>Prose</h1>
            <ul>
                <li>Making an object pool in Rust [Rust] [Tutorial]</li>
                <li>Strange parts of Rust [Rust] [Bit] [Strange-Parts-Of-Rust]</li>
            </ul>
        </article>
    </section>
{% endblock body %}
