{% extends "templates/base.jinja" %}

{% block body %}
    <h1>Hi, I'm Michael!</h1>

    Check out my
    <a href="/about.html">About page</a>,
    <a href="/blog/">Blog</a>,
    <a href="https://github.com/michael-younkin/resume/raw/master/resume.pdf">Resume</a>,
    <a href="https://github.com/michael-younkin">Github</a>,
    or <a href="https://www.linkedin.com/in/michaelyounkin">LinkedIn</a>.
{% endblock body %}
